---
interface Props {
  heading?: string;
  description?: string;
  backgroundOpacity?: number;
  class?: string | undefined;
}

const { heading, description, backgroundOpacity, class: className } = Astro.props;
---

<div
  class:list={[
    "splash-header relative flex w-full flex-col items-center justify-between overflow-hidden p-4 lg:-mt-16 lg:flex-row lg:p-24",
    className,
  ]}
>
  <div class="background-container absolute top-0 left-0 right-0 bottom-0 -z-10" style={`--bg-opacity: ${backgroundOpacity || 1};`}>
    <slot />
  </div>
  <div class:list={["mb-8 flex flex-col items-start justify-center lg:mb-0 lg:w-1/2"]}>
    <h2 class:list={["font-display text-6xl font-medium tracking-wide [text-wrap:balance] lg:text-7xl"]}>
      {heading}
    </h2>
    <p class:list={["mt-4 text-xl leading-relaxed tracking-wide text-theme-primary lg:text-2xl 2xl:leading-loose"]}>
      {description}
    </p>
  </div>
</div>

<style>
  .background-container {
    opacity: var(--bg-opacity);
  }
  .background-container :global(svg) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
</style>
