---
import Layout from "@layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import coverImage from "@assets/alk-cover-2.webp";
---

<Layout title="404">
  <section class="mt-24 mb-10 flex flex-col items-center justify-center p-4 text-center">
    <h1 class="mb-4 flex items-center text-6xl font-bold sm:text-8xl">
      <!-- 4<div class="donut ml-2 mr-4"></div>4 -->
      4<Image
        src={coverImage}
        alt="404"
        class:list={["donut--broken mx-2 h-full w-full object-cover"]}
        width={100}
        height={100}
      />
      <span class="ml-2">4</span>
    </h1>
    <p class="text-xl sm:text-2xl">Page not found</p>
  </section>
</Layout>
