---
import Layout from "@layouts/Layout.astro";
import PageHeader from "@components/Astro/PageHeader.astro";
import { getPosts } from "@utils/getPosts";
import ClickableCard from "@components/Astro/ClickableCard.astro";

// Fetch and sort the first 3 blog posts
const posts = (await getPosts())
  .sort((a, b) => b.data.pubDatetime.valueOf() - a.data.pubDatetime.valueOf())
  .slice(0, 3);
---

<Layout>
  <PageHeader
    heading="Welcome to Cmdlets and Coffee"
    description="Your daily dose of PowerShell, automation, and tech musings."
  />

  <section class="flex flex-col items-center justify-center mt-16 mb-16 fade-in">
    <a href="/blog" class="bg-theme-primary no-underline text-theme-primary text-xl lg:text-2xl tracking-wide text-center shadow-sm shadow-theme-primary border-2 p-4 rounded-theme hover:bg-theme-secondary hover:text-theme-secondary hover:border-theme-secondary hover:shadow-none transition-all duration-300 ease-in-out">
      Explore Posts
    </a>
  </section>

  <section class="flex flex-col items-center justify-center mt-16 mb-48 fade-in">
    <h2 class="bg-theme-secondary text-theme-secondary p-5 text-center uppercase w-full mb-8 lg:w-auto rounded-theme">
      Recent Posts
    </h2>
    <div class="mx-0 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-8 mb-16 lg:p-5 build-in">
      {posts.map((post) => (
          <ClickableCard
            iconName="ri:file-text-line"
            alignIcon="left"
            href={`/blog/${post.id}/`}
            title={post.data.title}
            description={post.data.description}
            shadowSize="lg"
          />
      ))}
    </div>
  </section>
</Layout>

<style>
  .build-in {
    animation-delay: 0.75s;
  }
</style>
